<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Servico</th>
      <th>Data inicial</th>
      <th>Data entrega</th>
      <th>Status</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.telefone %></td>
        <td><%= cliente.servico %></td>
        <td><%= cliente.data_inicial %></td>
        <td><%= cliente.data_entrega %></td>
        <td><%= cliente.status %></td>
        <td><%= cliente.valor %></td>
        <td><%= link_to 'Exibir', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Deseja realmente exlcuir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar novo', new_cliente_path %>
<li class="menu-item"><%= link_to("Voltar", "home/index") %></li>
