<p id="notice"><%= notice %></p>

<p>
  <strong>Componente:</strong>
  <%= @estoque.componente %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @estoque.quantidade %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @estoque.valor %>
</p>

<%= link_to 'Editar', edit_estoque_path(@estoque) %> |
<%= link_to 'Voltar', estoques_path %>
